.app {
    display: flex;
    &__sort {
        width: 100%;
       &-tabs {
           max-width: 300px;
           display: flex;
           justify-content: space-between;
           text-align: center;
           cursor: pointer;
           margin-bottom: 10px;
           span {
               border: 1px solid black;
               width: 100%;
               padding: 5px 0;
               &:hover {
                   background: #ccc;
               }
          }
       }
    }
    &__view {
        width: 100%;
        max-width: 150px;
    }
}